@model IEnumerable<Gr.Models.Sqwz>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HouTaiPage.cshtml";
}


<p>
    @Html.ActionLink("新增神奇的网站", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cjdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cjdate)
        </td>
        <td>
            @Html.ActionLink("修改", "Edit", new { id=item.id }) |
            @Html.ActionLink("详情", "Details", new { id=item.id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
